.estiloInicio{
    background-color: rgb(255, 124, 80);
}
.estiloInicio1{
    background-color: rgb(249, 80, 255);
}
.estiloInicio2{
    background-color: rgb(255, 80, 80);
}
.estiloInicio5{
    background-color: rgb(162, 224, 154);
}
.titulo{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    background:rgb(97, 97, 255);
    padding:1px;
    border:3px solid rgb(0, 0, 243);
}
.titulo1{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    background:rgb(172, 97, 47);
    padding:1px;
    border:3px solid rgb(87, 49, 0);
}
.titulo2{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    background:rgb(177, 43, 43);
    padding: 1px;
    border:3px solid rgb(80, 0, 0);
}
.titulo5{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    background:rgb(83, 158, 80);
    padding:1px;
    border:3px solid rgb(10, 83, 1);
}
.subtitulo{
    font-size: 20px;
}
.enlace{
    background-color: black;
    color:white;
}
.subenlace{
    text-decoration: underline;
}
a:hover{
    background-color: crimson;
    color: rgb(78, 56, 0);
    font-size: larger;
}
table{
    border:5px;
    border-style: solid;
    border-color: rgb(43, 174, 226);
    background-color: rgb(47, 70, 172);
    width:100%;
}
.imagenes{
    text-align: center;
    height: 15cm;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 30px;
    background-color: brown;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}